extends base.pug

block content 
    h1=video.title
    div
        p=video.description
        small=video.createAt
    a(href=`${video.id}/edit`) Edit Video &rarr;
    br
    a(href=`${video.id}/Delete`) Delete Video &rarr;
